openapi: 3.1.0
info:
  version: '1.0'
  title: 'HAR to OpenAPI Spec Template'
  description: 'TODO: Add Description'
servers:
  -
    url: 'https://demo.avantation.in/api/v1'
components:
  schemas:
    ErrorModel:
      type: object
      properties:
        code:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/v2.0/authorize'
          tokenUrl: 'https://login.microsoftonline.com/common/oauth2/v2.0/token'
          scopes:
            User.Read: 'Read user profile'
            Contacts.Read: 'Read contacts'
paths:
  /login:
    post:
      operationId: postLogin
      summary: 'Login '
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  token:
                    type: string
  /todos:
    post:
      operationId: postTodos
      summary: 'Create new todo '
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                todo:
                  type: string
                completed:
                  type: boolean
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  todo:
                    type: string
                  completed:
                    type: boolean
                  id:
                    type: number
    get:
      operationId: getTodos
      summary: '(QUERY) Retrieve Todo based on Id  '
      parameters:
        -
          in: query
          name: id_like
          schema:
            type: string
          required: true
      requestBody: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    todo:
                      type: string
                    completed:
                      type: boolean
                    id:
                      type: number
  '/todos/{id}':
    get:
      operationId: 'getTodos{id}'
      summary: '(PATH) Retrieve Todo based on Id  '
      parameters:
        -
          in: path
          name: id
          schema:
            type: string
          required: true
      requestBody: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  todo:
                    type: string
                  completed:
                    type: boolean
                  id:
                    type: number
    put:
      operationId: 'putTodos{id}'
      summary: 'Update Todo Based on Id '
      parameters:
        -
          in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                todo:
                  type: string
                completed:
                  type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  todo:
                    type: string
                  completed:
                    type: boolean
                  id:
                    type: number
    delete:
      operationId: 'deleteTodos{id}'
      summary: 'Delete Todo based on Id '
      parameters:
        -
          in: path
          name: id
          schema:
            type: string
          required: true
      requestBody: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
